/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* Your other styles */


body {
  /* font-family: 'Marhey', sans-serif; */
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-link-hover: #f5a425;
  --main-transation: 0.3s;
  --a-background: #a12c2f;
  --main-text-color: #1f272b;
}
.body_content {
  /* background-color: #ecf2fe; */
}
.Box {
  background-image: url("../images/pg21.jpg");
  background-color: #ecf1f9;
  /* background-color: #7c8b70;
background-image: linear-gradient(0deg, #7c8b70 0%, #97D9E1 75%); */

  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-position: center;

  display: flex;
}
.box {
  display: flex;
  align-items: center;
}
ul {
  transition: var(--main-transation);
  /* display: flex; */
  margin: 0px;
}
ul li {
  list-style: none;
}

.start_button {
  /* font-weight: bold; */
  padding: 7px 32px;
  font-size: 15px;
  /* border: 1px solid; */
  background: #2c996f;
  color: white;
  border: none;
  border-radius: 4px;
  transition: var(--main-transation);
}
.start_button:hover {
}

.homeContent {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.homeContent div {
  font-size: 45px;
  margin: 20 0px;
}
/* ************************* */
.info {
  /* background-image: url('../images/pg10.jpg');
   background-size: cover; */
  margin: 30px auto;
  background: white;
  border-radius: 10px;
}
.info > div {
}
/* **************** */
.members {
  background-color: white;
}
.members .box {
  border: 1px solid #d5d5d5;
  padding: 20px;
  background-color: white;
}
.members .image {
  font-size: 50px;
  padding-left: 20px;
  text-align: center;
}
.members .image img {
  width: 100%;
}
.members .kind {
}
.members .text {
}
/* ********************* */
.why_us {
}
.why_us .text {
  background-color: #ecf2fe;
}
.why_us .text ul {
}
.why_us .image {
}
.why_us .image img {
  width: 100%;
  height: 100%;
}
